@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');
.fondo{
    background :linear-gradient(0deg, rgba(0,25,207,1) 30%, rgba(255,255,255,1) 46%, rgba(255,255,255,1) 55%, rgba(218,0,0,1) 70%);
}
h1{
    font-family: 'Ibarra Real Nova', serif;
    color: white;
}
.cuerpo{
    background-color: rgb(255, 255, 255);
    font-family: 'Ibarra Real Nova', serif;
    color: rgb(0, 0, 0);
    height: 450px;
    font-size: 30px;
    display: flex;
    flex-direction: row;
}
.espacio{
    background-color: rgb(172, 172, 172);
    height: 30px;
}
.menu{
    display: flex;
    flex-direction: row;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 25px;
    background-color: rgb(0, 60, 255);
}
.menu a{
    text-decoration: none;
    color: white;
}
.menu li{
    list-style: none;
    padding-left: 50px;
}
.menu button{
    background-color:rgb(0, 60, 255);
}
.comentarios{
    background-color: rgb(0, 60, 255);
    color: white;
}
.comentarios a{
    text-decoration: none;
    color:white;
    font-size: xx-large;
    padding-left: 10px;
    padding-right: 10px;
}
.comentarios form{
    text-align: center;
    color: white;
}
.comentarios hr{
    color: white;
}
.creditos{
    font-size: 15px;
    text-align: center;
    height: 20px;
    background-color: rgb(133, 31, 31);
    color: white;
}
.acercade{
    background-color: white;
    font-family: 'Ibarra Real Nova', serif;
}
.oferta{
    background-color: rgb(255, 255, 255);
    font-family: 'Ibarra Real Nova', serif;
    color: rgb(0, 0, 0);
    height: 450px;
    font-size: 20px;
    display: flex;
    flex-direction: row; 
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
  .texto-encima{
    position: absolute;
    top: 10px;
    left: 435px;
    font-family: 'Ibarra Real Nova', serif;
    color: black;
    font-size: 25px;
}
.plataformas{
    background-color: rgb(255, 255, 255);
}
h2{
    color: black;
    font-family: 'Ibarra Real Nova', serif;
}
.red{
    background-color: red;
    font-size: 25px;
}
.red a{
    color: white;

}
.white{
    background-color: white;
    font-size: 25px;
}
.white a{
    color: rgb(0, 0, 0);
}
.blue{
    background-color: blue;
    font-size: 25px;
}
.blue a{
color: white;
}
h5{
    color: rgb(255, 255, 255);
    font-family: 'Ibarra Real Nova', serif;
}
.black{
    color: rgb(0, 0, 0);
    font-family: 'Ibarra Real Nova', serif;
}